In [2]:
import numpy as np
import pandas as pd
import datetime
import dateutil
import pytz

In [3]:
df1 = pd.read_csv('Berlin.csv')
df1

     date       Time  Index
0  8/22/17  11:00 AM      0
1  8/22/17  11:30 AM      1
2  8/22/17  12:00 PM      2
3  8/22/17  12:30 PM      3
4  8/22/17   1:00 PM      4
5  8/22/17   1:30 PM      5
6  8/22/17   2:00 PM      6
7  8/22/17   2:30 PM      7
8  8/22/17   3:00 PM      8
9  8/22/17   3:30 PM      9

In [11]:
df1=df1.set_index('date',inplace=True)

KeyError: "None of ['date'] are in the columns"

In [52]:
df2=pd.read_csv('Mumbai.csv')

In [9]:
df2

     Dates     Time  index
0  8/22/17  2:30 PM      0
1  8/22/17  3:00 PM      1
2  8/22/17  3:30 PM      2
3  8/22/17  4:00 PM      3
4  8/22/17  4:30 PM      4
5  8/22/17  5:00 PM      5
6  8/22/17  5:30 PM      6
7  8/22/17  6:00 PM      7
8  8/22/17  6:30 PM      8
9  8/22/17  7:00 PM      9

KeyError: 'Dates'