In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('weather_by_cities.csv')
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [13]:
#method groupby()  is used to do grouping on the basis of  seperation by variation in column for tht u have to select colmn 
cities =df.groupby("city")
cities

In [7]:
for i in cities :
    print(i)

('mumbai',         day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain)
('new york',         day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny)
('paris',          day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy)

In [10]:
cities.get_group('mumbai')

        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain

In [11]:
import matplotlib.pyplot as plt

In [13]:
df1=cities.get_group('mumbai')
df2=cities.get_group('newyork')
df3=cities.get_group('paris')

        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain

In [1]:
df1.sum(axis=1)

NameError: name 'df1' is not defined

In [23]:
plt.plot((df1.day,df1.temperature,color=='Red',label=='mumbai')
plt.plot(df2.day,df2.temperature,color =='green',label=='New york')
plt.plot(df3.day,df3.temperature,color ='=blue',label=='paris')
plt.legend()
plt.xlabel('Day')
plt.ylabel('Temperature')
plt.title('Temperature Camparision')

SyntaxError: invalid syntax (<ipython-input-23-d1b9d016b8cc>, line 2)