In [2]:
import requests
from bs4 import BeautifulSoup

In [9]:
URL = 'https://uk.linkedin.com/jobs/search?keywords=python%20developer&location=Indore%2C%20Madhya%20Pradesh%2C%20India&trk=homepage-jobseeker_jobs-search-bar_search-submit&redirect=false&position=1&pageNum=0'

In [10]:
page=requests.get(URL)

In [21]:
soup = BeautifulSoup(page.content,'html.parser')
result=soup.find(id="main-content")

In [22]:
jobs = result.find_all('a',class_='result-card_full-card-link')

In [23]:
title=[]
job_name=[]
location=[]
for job in jobs:
    t=job.find('span',class_name='screen-reader-text')
    j=job.find('a',class_name='result-card_subtitle-link job-result-card_subtitle-link')
    l=job.find('a')
    
    title.append(t.text.strip)
    job_name.append(j.text.strip)
    location.append(l.text.strip)

In [24]:
import pandas as pd

data = {
    'JobTitle' : title,
    'CompanyName' :job_name,
    'Location' : location
}

df = pd.DataFrame(data)
df

Empty DataFrame
Columns: [JobTitle, CompanyName, Location]
Index: []