In [5]:
import pandas as pd
df = pd.read_csv('aapl.csv', parse_dates=['Date'], index_col='Date')

In [7]:
df.index

DatetimeIndex(['2017-07-07', '2017-07-06', '2017-07-05', '2017-07-03',
               '2017-06-30', '2017-06-29', '2017-06-28', '2017-06-27',
               '2017-06-26', '2017-06-23',
               ...
               '2016-07-22', '2016-07-21', '2016-07-20', '2016-07-19',
               '2016-07-18', '2016-07-15', '2016-07-14', '2016-07-13',
               '2016-07-12', '2016-07-11'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [11]:
df['2017-03'].head()
#df['2017-03-29']

              Open    High     Low   Close    Volume
Date
2017-03-31  143.72  144.27  143.01  143.66  19661651
2017-03-30  144.19  144.50  143.50  143.93  21207252
2017-03-29  143.68  144.49  143.19  144.12  29189955
2017-03-28  140.91  144.04  140.62  143.80  33374805
2017-03-27  139.39  141.22  138.62  140.88  23575094

In [14]:
df['2017-06'].Close.mean()

147.8313636363636

In [16]:
df['2017'].head()

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107

In [21]:
df['2017-01-09':'2017-01-03']

              Open    High     Low   Close    Volume
Date
2017-01-09  117.95  119.43  117.94  118.99  33561948
2017-01-06  116.78  118.16  116.47  117.91  31751900
2017-01-05  115.92  116.86  115.81  116.61  22193587
2017-01-04  115.85  116.51  115.75  116.02  21118116
2017-01-03  115.80  116.33  114.76  116.15  28781865